RewriteEngine On

# Allow access to existing files (CSS, JS, images)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything else to index.php

RewriteRule ^ index.php [QSA,L]